.building-show {
  margin-top : 3rem;
  display: flex;
  justify-content: space-between;
  h2 {
  margin-bottom: 1rem;
  }
}
.building-show__images {
  display: flex;
  height: 60vh;
}
.big-building-img {
  width: 20vw;
}
.little-building-img {
  height: 30vh;
  width: 20vw;
}
.little-photos {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.building-show__text {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  p {
    text-align: justify;
  }
}
.address {
  font-style: italic;
  opacity: 0.7;
}
.prices {
  margin-top: 2rem;
}
.office-price {
  font-weight: bold;
}
.reservation {
    display: block;
    margin: 4rem auto;
    width: 20vw;
}
