.offices-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.offices-details {
  width: 95vh;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}
.office-card {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
  padding: 0.5rem;
  margin: 0.5rem;
}
.office-card__text, .office-card__links {
  display: flex;
  justify-content: space-between;
}
.office-card__links a {
  font-size: 1rem;
  color: black;
  opacity: 0.6;
  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}
.discounts {
  margin: 1rem 0rem 0.5rem 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width:100%;
  background-color: $orange;
  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  a {
    color: black;
  }
}



