.dashboard-profile {
  margin: 2rem;
  h2 {
    margin-bottom: 2rem;
  }
  &__infos {
    width: 50%;
    margin: 1rem;
    background-color: white;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
    padding: 1rem;
  }
}
.dashboard-profile__links, .dashboard-building__links {
  font-size: 1.2rem;
  margin-top: 1rem;
  & a {
    color: black;
    opacity: 0.6;
  }
  & a:hover {
    opacity: 1;
    text-decoration: none;
  }
}
.dashboard-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  width: 50%;
}
.dashboard-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem;
}
.dashboard-building {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
  margin: 1rem;
  padding:1rem;
  &__links {
    display: flex;
    justify-content: space-between;
  }
  &__stats {
    margin-top: 3rem;
  }
}

.reservations {
  margin: 2rem;
}
.reservations-card {
  width: 50%;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
  margin: 1rem;
  padding:1rem;
  ul {
    list-style-type: none;
  }
}
table {
  width: 80vw;
  margin: 30px auto;
  border-collapse: collapse;
  font-size: 1.1rem;
  empty-cells: show;
  th {
    background-color: grey;
    color: white;
    padding-left: 5px;
  }
  td {
    text-align: center;
  }
  td, th {
    border: 1px solid black;
    height: 1.8rem;
  }
}
.column-title {
  text-align: center;
  width: 10%;
  padding-left: 0;
}
.first-column-width {
  width: 15%;
}
.import-xl, .import-pdf {
  width: 20%;
  margin-top: 2rem;
}
/* mise en page en pdf */
// @media print {
//   table {
//     page-break-before: always;
//     border-collapse: collapse;
//   }
//   .exports, .import-xl, .import-pdf {
//     display: none;
//   }
// }
