<div class="building-show">
  <div class="building-show__images">

  </div>
  <div class="building-show__text">
    <h2><%= @building.name %> </h2>
    <p><%= @building.address %> </p>
    <p><%= @building.city %> </p>
    <p><%= @building.description %> </p>
  </div>
  <div class="building-show__prices">

  </div>
</div>
